# requirements.txt

# Python 3.9+ required, or errors may occur
# Built on Python 3.12.10 - please use this version if you are able

Flask==3.0.3
Jinja2==3.1.6
numpy==2.2.6
scipy==1.15.3
matplotlib==3.10.3
numba==0.61.2
librosa==0.11.0
PyWavelets==1.8.0
plotly==6.1.2
bokeh==3.7.3
networkx==3.5
natsort==8.4.0